body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1{
        flex-basis: 100%;
    }
}

#game-container{
    display: grid;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
    .tic-option{
        padding: 3rem;
        border: black solid 5px;
        &:hover{
            cursor: pointer;
        }
    }
}